
services:
  # mosquitto:
  #   image: eclipse-mosquitto:2.0
  #   container_name: mosquitto
  #   networks:
  #     - myosa-network
  #   ports:
  #   - '1883:1883'
  #   - '9001:9001'
  #   volumes:
  #     - ./mosquitto/config:/mosquitto/config
  #     - ./mosquitto/data:/mosquitto/data
  #     - ./mosquitto/log:/mosquitto/log
  #   healthcheck:
  #     test: ["CMD", "sh", "-c", "mosquitto_sub -h localhost -t '$$SYS/#' -C 1 || exit 1"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5


  # db:
  #   image: postgres:15
  #   container_name: postgres
  #   networks:
  #     - myosa-network
  #   environment:
  #     POSTGRES_USER: baby
  #     POSTGRES_PASSWORD: baby_pass
  #     POSTGRES_DB: babydb
  #   ports:
  #   - '5432:5432'
  #   volumes:
  #   - pgdata:/var/lib/postgresql/data
  #   - ./init-db.sql:/docker-entrypoint-initdb.d/init.sql
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U baby -d babydb"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5


  backend:
    build: .
    container_name: backend
    networks:
      - myosa-network
    # depends_on:
      # db:
      #   condition: service_healthy
      # mosquitto:
      #   condition: service_healthy
    env_file:
      - .env
    # environment:
    #   - DATABASE_URL=postgresql+psycopg2://postgres.limprodyggzcpxvgtyuo:MyOSA%402025@aws-1-eu-north-1.pooler.supabase.com:5432/postgres
    #   - MQTT_HOST=3f870c7ecb2a48e6b76737cb2c13864c.s1.eu.hivemq.cloud
    #   - MQTT_PORT=8883
    #   - FCM_CREDENTIALS=/app/firebase_credentials.json
    ports:
      - '8001:8000'
    volumes:
      - .:/app

volumes:
  pgdata:

networks:
  myosa-network:
    driver: bridge
